<div style="padding:0 0 10px 0;">
<%= link_to '新建', new_plan_path %>
<%= link_to '今日任务', index_by_day_plans_path(:task_date=>Date.today.to_s)%>
<%= link_to '明日任务', index_by_day_plans_path(:task_date=>(Date.today+1).to_s)%>
<%= link_to '后日任务', index_by_day_plans_path(:task_date=>(Date.today+2).to_s)%>
<%= form_tag index_by_day_plans_path, :method=>'get', :class=>"form-search", :style=>"display:inline; padding-left: 40px;" do %>
  <input type="text" class="input-medium search-query" name="task_date">
  <button type="submit" class="btn">查找</button>
<% end %>
</div>
<table class="table table-bordered">
  <tr>
    <th>名称</th>
    <th>开始日期</th>
    <th>所需天数</th>
    <th>任务数</th>
    <th>复习计划</th>
    <th>每日最多任务数</th>
    <th>每日最多新任务数</th>
    <th></th>
  </tr>
  <% @plans.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.start_date %></td>
      <td><%= e.plan_days.count %></td>
      <td><%= e.task_count %></td>
      <td><%= e.review_plan %></td>
      <td><%= e.max_task_per_day %></td>
      <td><%= e.max_new_task_per_day %></td>
      <td>
        <%= link_to '查看', plan_path(e)%>
        <%= link_to '修改', edit_plan_path(e)%>
        <%= form_for e, :method=>:post, :url=>clone_plan_path(e), :html => {:style=>"display:inline"} do |f| %>
          <%= f.submit '克隆', :confirm => '确定吗?',:class=>"btn" %>
        <% end %>
        <%= form_for e, :method => :delete, :html => {:style=>"display:inline"} do |f| %>
          <%= f.submit '删除', :confirm => '确定吗?',:class=>"btn" %>
        <% end %>
        <%= form_for e, :method=>:post, :url=>build_plan_path(e), :html => {:style=>"display:inline"} do |f| %>
          <%= f.submit '生成', :confirm => '确定吗?',:class=>"btn" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
